@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table {
    @apply w-full table-fixed border-collapse text-center text-gray-700;
  }
  .table thead {
    @apply bg-gray-50 text-sm font-medium uppercase text-gray-800;
  }
  .table thead th {
    @apply py-3 px-4;
  }
  .table tbody td {
    @apply py-4 px-4;
  }
  .table tbody tr {
    @apply border-b bg-white hover:bg-gray-50;
  }
  .table tbody tr:last-child {
    @apply border-none;
  }

  .table-users thead th:nth-child(1) {
    @apply w-[15%];
  }
  .table-users thead th:nth-child(2) {
    @apply w-[15%];
  }
  .table-users thead th:nth-child(3) {
    @apply w-[20%];
  }
  .table-users thead th:nth-child(4) {
    @apply w-[20%];
  }
  .table-users thead th:nth-child(5) {
    @apply w-[10%];
  }
  .table-users thead th:nth-child(6) {
    @apply w-[10%];
  }
  .table-users thead th:nth-child(7) {
    @apply w-[10%];
  }

  .table-posts thead th:nth-child(1) {
    @apply w-[40%];
  }
  .table-posts thead th:nth-child(2) {
    @apply w-[20%];
  }
  .table-posts thead th:nth-child(3) {
    @apply w-[10%];
  }
  .table-posts thead th:nth-child(4) {
    @apply w-[20%];
  }
  .table-posts thead th:nth-child(5) {
    @apply w-[10%];
  }

  .table-tags thead th:nth-child(1) {
    @apply w-[15%];
  }
  .table-tags thead th:nth-child(2) {
    @apply w-[20%];
  }
  .table-tags thead th:nth-child(3) {
    @apply w-[20%];
  }
  .table-tags thead th:nth-child(4) {
    @apply w-[20%];
  }
  .table-tags thead th:nth-child(5) {
    @apply w-[25%];
  }
}

/* Quill editor style */
.ql-editor {
  min-height: 400px !important;
  line-height: 1.6;
}

.ql-editor h1,
.ql-editor h2 {
  font-weight: bold;
}

.ql-container {
  font-family: 'Cabin', sans-serif;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.ql-container {
  font-size: 100%;
}
