@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quill editor style */
.ql-editor {
  min-height: 300px !important;
  line-height: 1.6;
}

.ql-editor h1,
.ql-editor h2 {
  font-weight: bold;
}

.ql-container {
  font-family: 'Cabin', sans-serif;
}
